<header>

    <h2>
        <%= title %>
    </h2>
    <div>
        <a href="/">Home</a>
        <a href="/games">Games</a>
        <a href="/developers">Developers</a>
        <a href="/genres">Genres</a>
    </div>

</header>