<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include("../partials/header", {title: title } )%>
    <div>
        <h3><%= title %></h3>
        <div><button>Edit Genre</button><button>Delete Genre</button></div>
    </div>
</body>
</html>