<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers - Games Inventory</title>
</head>
<body>
    <%- include("../partials/header", {title: "Developers"} )%>
    <table>
        <thead>
            <th>NAME</th>
            <th>BIO</th>
            <th>GAMES</th>
            <th>ACTIONS</th>
        </thead>
    </table>
</body>
</html>