<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers - Games Inventory</title>
</head>

<body>
    <%- include("../partials/header", {title: "Developers" } )%>
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>BIO</th>
                    <th>GAMES</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
        </table>
</body>

</html>