<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games - Games Inventory</title>
</head>
<body>
    <%- include("../partials/header", {title: "Games"} )%>
    <table>
        <thead>
            <th>TITLE</th>
            <th>DEVELOPERS</th>
            <th>GENRE</th>
            <th>QUANTITY</th>
            <th>ACTIONS</th>
        </thead>
        
    </table>
</body>
</html>