<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres - Game Inventory</title>
</head>

<body>
    <%- include("../partials/header", {title: "Genres" } )%>
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <% genresData.forEach((genre) => {%>
                    <tr>
                        <td><%= genre.name %></td>
                        <td>Actions</td>
                    </tr>
                <%})%>
            </tbody>
        </table>
</body>

</html>