<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres - Game Inventory</title>
</head>

<body>
    <%- include("../partials/header")%>
        <div>
            <h3>Genres</h3>
            <a href="/genres/add"><button type="button">Add New Genre</button></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <% genresData.forEach((genre)=> {%>
                    <tr>
                        <td>
                            <%= genre.name %>
                        </td>
                        <td><%- include("../partials/actions") %></td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
</body>

</html>