<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Developer</title>
</head>
<body>
    <%- include("../partials/header", {title: "Add New Developer" })%>
    <h2>Add New Developer</h2>
    <div>
        <label for="">Name</label>
        <input type="text" name="" id="">
    </div>
    <div>
        <label for="">Country</label>
        <input type="text" name="" id="">
    </div>
    <div>
        <label for="">Headquaters</label>
        <input type="text" name="" id="">
    </div>
    <div>
        <label for="">Website</label>
        <input type="text" name="" id="">
    </div>
    <div>
        <button>Cancel</button>
        <button>Create Author</button>
    </div>
</body>
</html>