<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Game - Games Inventory</title>
</head>
<body>
    <%- include("../partials/header", {title: "Add New Game"})%>
 <h2>Add New Game</h2>
 <form action="">
    <section>
        <h3>Game Details</h3>
        <div>
            <label for="">Title*</label>
            <input type="text" >
        </div>
        <div>
            <label for="">Description</label>
            <textarea name="" id=""></textarea>
        </div>
        <div>
            <label for="">Quantity*</label>
            <input type="text" >
        </div>

    </section>
    <section>
        <h3>Genre</h3>
        <div>
            <select name="" id=""></select>
        </div>
    </section>
    <section>
        <h3>Developers</h3>
        <div>
            <label for=""><input type="checkbox">developer name</label>
        </div>
    </section>
    <div><button>Cancel</button><button>Create Game</button></div>
 </form>
</body>
</html>