<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Genre - Games Inventory</title>
</head>

<body>
    <%- include("../partials/header")%>
    <%if (edit===true ) {%>
        <h2>Edit Genre</h2>
        <form action="/genres/<%= genreItem.id %>/edit" method="post">
        <%} else { %>
            <h2>Add New Genre</h2>
            <form action="/genres/add" method="post">
            <%}%>
            <div>
                <label for="genreName">Name</label>
                <%if (edit===true ) {%>
                    <input id="genreName" name="genreName" type="text" value="<%= genreItem.name  %>">    
                    <%} else { %>
                        <input id="genreName" name="genreName" type="text">
                        <% }%>
            </div>
            <div>
                <button>Cancel</button>
                <%if (edit===true ) {%>
                    <button type="submit">Save Changes</button>
                    <%} else { %>
                        <button type="submit">Create Genre</button>
                        <% }%>
            </div>
        </form>
</body>

</html>