<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Genre - Games Inventory</title>
</head>

<body>
    <%- include("../partials/header", {title: "Add New Genre" })%>
        <h2>Add New Genre</h2>
        <form action="">
            <section>
    
                <div>
                    <label for="">Name</label>
                    <input type="text">
                </div>
            </section>
            <div><button>Cancel</button><button>Create Genre</button></div>
        </form>
</body>

</html>